@{
    ViewData["Title"] = "Home Page";
    

}

<div class="text-center">
    <h1 class="display-4">Empréstimos Tech</h1>
    <p>Seja bem-vindo ao sistema de empréstimos de livros online.</p>
    <div>
        <img src="/img/book1.jpg"/>
    </div>
</div>
