@model IEnumerable<EmprestimosModel>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Ultima atualização</th>
        </tr>
    </thead>
    <tbody>      

        @if(Model != null)         
        { 
            foreach (var item in Model)
            { 
                <tr>
                    <th scope="row">@item.Recebedor</th>
                    <td> @item.Fornecedor</td>
                    <td>@item.LivroEmprestado</td>
                    <td>@item.DataUltimaAtualização</td>
                </tr>

             }
        } 

    </tbody>
</table>